<div id="<%= dom_id prompt %>">
  <p>
    <strong>Name:</strong>
    <%= prompt.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= prompt.description %>
  </p>

  <p>
    <strong>Prompt:</strong>
    <%= prompt.prompt %>
  </p>

</div>
