<head>

  <%= stylesheet_link_tag 'custom_styles' %>
</head>

<section class="navbar">
<div class="f-navigation-wrapper-3">
  <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease" role="banner" class="f-navigation-3 w-nav">
    <div class="f-navigation-container-3">
      <div class="f-navigation-link-wrapper-3">
        <a href="/" aria-current="page" class="f-navigation-logo-link-3 w-inline-block w--current">
          <div class="text-block-198">Prompt Pancake</div>
        </a>
        <nav role="navigation" class="f-navigation-menu-3 w-nav-menu">
          <div data-hover="false" data-delay="0" class="dropdown-2 w-dropdown">
            <div class="dropdown-toggle-9 w-dropdown-toggle">
              <div class="text-block-161">Models</div>
            </div>
            <nav class="dropdown-list-6 w-dropdown-list">
              <div class="container-44 w-container">
                <div class="w-layout-grid grid-14 skin-concrn">
                  <div id="w-node-_3e3eb613-833d-a5b9-175f-ae0d4691533a-c7b742e0">
                    <div class="text-block-206">
                      <a href="#" class="link-5"><strong class="bold-text">ChatGPT</strong></a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">SEO</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Brainstorming</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Ideas</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Ideas</a>
                    </div>
                  </div>
                  <div id="w-node-_3e3eb613-833d-a5b9-175f-ae0d4691534b-c7b742e0">
                    <div class="text-block-206">
                      <a href="#" class="link-4"><strong class="bold-text-2">MidJourney</strong></a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                  </div>
                  <div id="w-node-_3e3eb613-833d-a5b9-175f-ae0d4691535c-c7b742e0">
                    <div class="text-block-206"><strong class="bold-text-3">Stable Diffusion</strong></div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                    <div class="text-block-206 link">
                      <a href="https://www.brightenbase.com/item/tripollar-stop-vx-reviews" class="link-6">Business</a>
                    </div>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
</section>